body{
    background-size: cover;
}
.heading{
    width: 100%;
    margin-top: 0px;
    font-size: 35px;
}
.head{
    color: black;
}
#input{
    width: 450px;
    height: 30px;
}
canvas{
    border:5px solid grey;
    border-radius:10px;
    box-shadow: 5px 5px 5px gray;
}